/* Large Devices, Wide Screens */
@media only screen and (max-width: 1900px) {
  
}
@media only screen and (max-width: 1800px) {
  
}
@media only screen and (max-width: 1700px) {
  
}
@media only screen and (max-width: 1600px) {
  
}
@media only screen and (max-width: 1500px) {
  
}
@media only screen and (max-width: 1350px) {
  
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 1050px) {
  
}
/*body{overflow-x: hidden;}*/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
  
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
  
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
  
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
@media only screen and (max-width: 640px) {
  
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .hw-in li .col-house-in {
    height: 100px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 2000px) {
  .car {
    margin-left: -100px;
  }
  .truck {
    width: 540px;
    height: 306px;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
