/*@font-face {
    font-family: 'conquerorsans';
    src: url('../fonts/conquerorsans/conquerorsans.eot');
    src: url('../fonts/conquerorsans/conquerorsans.eot') format('embedded-opentype'),
         url('../fonts/conquerorsans/conquerorsans.woff2') format('woff2'),
         url('../fonts/conquerorsans/conquerorsans.woff') format('woff'),
         url('../fonts/conquerorsans/conquerorsans.ttf') format('truetype'),
         url('../fonts/conquerorsans/conquerorsans.svg#conquerorsans') format('svg');
}
@font-face {
    font-family: 'conquerorsansextrabold';
    src: url('../fonts/conquerorsansextrabold/conquerorsansextrabold.eot');
    src: url('../fonts/conquerorsansextrabold/conquerorsansextrabold.eot') format('embedded-opentype'),
         url('../fonts/conquerorsansextrabold/conquerorsansextrabold.woff2') format('woff2'),
         url('../fonts/conquerorsansextrabold/conquerorsansextrabold.woff') format('woff'),
         url('../fonts/conquerorsansextrabold/conquerorsansextrabold.ttf') format('truetype'),
         url('../fonts/conquerorsansextrabold/conquerorsansextrabold.svg#conquerorsansextrabold') format('svg');
}
@font-face {
    font-family: 'conquerorsansextrabolditalic';
    src: url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.eot');
    src: url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.eot') format('embedded-opentype'),
         url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.woff2') format('woff2'),
         url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.woff') format('woff'),
         url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.ttf') format('truetype'),
         url('../fonts/conquerorsansextrabolditalic/conquerorsansextrabolditalic.svg#conquerorsansextrabolditalic') format('svg');
}
*/

@font-face {
    font-family: 'ConquerorSans';
    src: url('../fonts/ConquerorSans/ConquerorSans.eot');
    src: url('../fonts/ConquerorSans/ConquerorSans.eot') format('embedded-opentype'),
         url('../fonts/ConquerorSans/ConquerorSans.woff2') format('woff2'),
         url('../fonts/ConquerorSans/ConquerorSans.woff') format('woff'),
         url('../fonts/ConquerorSans/ConquerorSans.ttf') format('truetype'),
         url('../fonts/ConquerorSans/ConquerorSans.svg#ConquerorSans') format('svg');
}
/*@font-face {
    font-family:'ConquerorSans';
    src: url('../fonts/ConquerorSans/ConquerorSans.otf');
}*/
@font-face {
    font-family: 'ConquerorSansBold';
    src: url('../fonts/ConquerorSansBold/ConquerorSansBold.eot');
    src: url('../fonts/ConquerorSansBold/ConquerorSansBold.eot') format('embedded-opentype'),
         url('../fonts/ConquerorSansBold/ConquerorSansBold.woff2') format('woff2'),
         url('../fonts/ConquerorSansBold/ConquerorSansBold.woff') format('woff'),
         url('../fonts/ConquerorSansBold/ConquerorSansBold.ttf') format('truetype'),
         url('../fonts/ConquerorSansBold/ConquerorSansBold.svg#ConquerorSansBold') format('svg');
}
/*@font-face {
    font-family:'ConquerorSansBold';
    src: url('../fonts/ConquerorSansBold/ConquerorSansBold.otf');
}*/
@font-face {
    font-family: 'ConquerorSansExtraBold';
    src: url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.eot');
    src: url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.woff2') format('woff2'),
         url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.woff') format('woff'),
         url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.ttf') format('truetype'),
         url('../fonts/ConquerorSansExtraBold/ConquerorSansExtraBold.svg#ConquerorSansExtraBold') format('svg');
}
/*@font-face {
    font-family:'ConquerorSansExtraBold';
    src: url('../fonts/ConquerorSansExtraBold/ConquerorSans-ExtraBold.otf');
}*/